*{
    font-family: 'Josefin Sans';
}
body{
    background-color: rgb(243, 240, 240);
}
.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 213, 223);
    /*border: 1px solid grey;*/
    border-radius: 15px;
    margin: 90px auto;
    padding: 150px;
    width: 250px;
    height: 100px;
}

.title{
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 35px;
}

input{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 7px;
}

button{
    border: 1px solid rgb(34, 34, 34);
    border-radius: 20px;
    margin-top: 5px;
    padding: 7px;
    font-weight: 599;
    background-color: rgb(46, 46, 250);
    width: 100px;
}

/*
button a{
    text-decoration: none;
}

button a:link, button a:visited {
    background-color: rgb(146, 146, 190);
}
button:hover, button:active{
    background-color: rgb(46, 46, 250);
}
*/
.signup-link a{
    text-decoration: none;
    font-style: italic;
    color: blue;
}